@font-face {
    font-family: poppins-regular;
    src: url(./font/Poppins/Poppins-Regular.ttf);
  }

:root {
    font-family: poppins-regular;
    font-size: 25px;
    height: 100vh;
    --blue: rgb(54,62,172);
    --red: rgb(136,0,27);
    --green: rgb(14,124,25);
    --gray: rgb(173, 173, 173);
    --lightblue: rgb(116, 120, 187);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.account {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}

#profile {
    background-image: url('images/ender\ ava.png');
    background-position: center;
    background-size:contain;
    width: 60px;
    height: 60px;
    border: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    color: transparent;
    cursor: pointer;
}

#log-out {
    background: none;
    font-family: poppins-regular;
    font-size:0.7rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
    color:white;
    border-radius: 8px;
    width: 100px;
    height: 30px;
}

#log-out:hover {
    background-color: white;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 100px;
    width: 100px;
}

.logo > h2 {
    color: white;
}

.add {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#addbook {
    background: none;
    font-family: poppins-regular;
    font-size: 1.5rem;
    font-weight: 800;
    border: none;
    cursor: pointer;
}

.book-cards {
    border-color: yellow;
    border-style: solid;
}

.stats {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.stats div {
    padding: 0.8rem;
    font-size: 0.8rem;
}

.total {
    background-color: var(--blue);
}

.read {
    background-color: var(--green);
}

.in-progress {
    background-color: var(--red);
}

.unread {
    background-color: var(--gray);
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.modal-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    width: 35vw;
    height: 48vh; 
    background-color: var(--gray);
    opacity: 0.8;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    
  }
  
  /* modal animation */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  .book-info {
      display: grid;
      flex-direction: column;
      gap: 1rem;
  }

  #progress {
      display: grid;
      flex-direction: column;
      margin-top: 0.5rem;
      /* grid-template-columns: 1fr 1fr 1fr; */
  }

  .book-details:nth-child(1) {
      margin-top: 1rem;
  }

  .book-details label {
      font-size: 0.5rem;
  }

  input[type='text'] {
      width: 10rem;
      height: 1.5rem;
      padding: 0.3rem;
      border-radius: 4px;
      border: none;
      font-family: 'Poppins-Regular';
  }

  input[type='text']:focus {
    border-color: var(--lightblue);
    border-style: solid;
    border-width: 4px;
    outline: none;
}

  input[type='radio']:after {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      top: -2px;
      left: -1px;
      position: relative;
      background-color:white;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid white;
      cursor: pointer;
  }

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: var(--green);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
    cursor: pointer;
  }

  .submission {
      display: flex;
      justify-content: center;
      padding-top: 1rem;
  }

  button[type='submit'] {
      width: 3rem;
      height: 1rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      border: none;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
      cursor: pointer;
      color: var(--blue);
      font-weight: 600;
      letter-spacing: 0.1rem;
      font-family: 'Poppins-Regular';
  }

  button[type='submit']:hover {
    background-color: var(--blue);
    color: white;
    font-weight: 600;
  }